html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
    height: 100%;
}

.h-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    width:1400px;
    margin: 0 auto;
    padding: 0;
    background-color: #EFE6E4;
}

.top-head {
    margin: 0;
    padding: 0;
    display:block;
    width: 1400px;
    height: 715px;
    background:url(pic/header.png) no-repeat #8D7370;
}
.top-line {
    margin: 0;
    padding: 0;
    padding-top: 36px;
    padding-left: 98px;
}
.promo-text {
    display: block;
    margin: 0;
    padding: 0;
    width: 534px;
    padding-left: 184px;
    padding-top: 91px;
}
.vert-flex {
    display: flex;
    flex-direction: column;
}
.vert-flex .top-line{order: 0; }
.vert-flex > section {order: 1; }
.vert-flex > p {order: 1; }
.vert-flex > h2 {order: 0; }
.vert-flex > .to-zayavka {order: 2; }

.promo-text p {
    margin: 0;
    padding:24px 100px 21px 0px;
}
.promo-text h2 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    line-height: 62px;
}
.to-zayavka{
    margin: 0;
    padding: 0;
    width: 309px;
    height: 49px;
    border: 0;
    border-radius: 0;
    background:  #CC8B86;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #533738;
    padding-top: 25px;
    text-align: center;
}
.logo, .logo>img {
    margin: 0;
    padding: 0;
    float: left;
}

.main-menu {
    margin: 0;
    padding: 0;
    float: right;
    padding-right: 100px;
}

.main-menu ul {
    margin: 0;
    padding: 0;
}

.main-menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    margin-right: 26px;
  }
  
.main-menu a, .logo>a {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    color:#533738;
    text-decoration: none;
}

.main {
    margin: 0;
    padding: 0;
}

.about {
    margin: 0;
    padding: 0;
    width: 1400px;
    height: 849px;
    padding-top: 65px;
    background:url(pic/about.png) no-repeat #EFE6E4;
    background-position: 182px 155px;
    background-size: 445px 465px;
}
.about h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}
.about>div {
    margin: 0;
    padding: 40px 182px 132px 690px;
}

.about footer {
    margin: 0;
    padding: 0;
    width: 1400px;
    height: 188px;
    background: #8D7370;
    text-align: center;
    padding-top: 85px;
}
.about ul {
    margin: 0;
    padding: 0;
}
.about li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    margin-right: 130px;
    margin-left: 130px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF; 
    text-transform: uppercase;   
}
.about ul>li>span {
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
}

.portfolio {
    margin: 0;
    padding: 65px 97px 65px 97px;
}
.portfolio>h2{
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
}
.portfolio>figure {
    margin: 0;
    padding: 0;
    position: relative;
	display: inline-block;
    clear: both;
}
.portfolio>figure>img{
    margin: 0;
    padding: 0;
    border: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   /* width: 10px;
    height: 10px; */
}
.portfolio>figure>img:nth-of-type(1){
    width: 488px;
    height: 451px;
    margin-bottom: 30px;
    margin-right: 20px;
}
.portfolio>figure>img:nth-of-type(2){
    width: 692px;
    height: 451px;
    margin-bottom: 30px;
}
.portfolio>figure>img:nth-of-type(3){
    width: 692px;
    height: 451px;
    margin-right: 20px;
}
.portfolio>figure>img:nth-of-type(4){
    width: 488px;
    height: 451px;
}
.portfolio figcaption{
    margin: 0;
    padding: 0;
    position: absolute;
    background: rgba(100, 72, 69, 0.8);
    height: 452px;
    top: 0px;
    width: 0px;
    clip: rect(0 0 0 0);
    pointer-events:none;
}
.portfolio figcaption>h3{
    margin: 0;
    padding: 0;
    padding-top: 86px;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.1s linear;
}
.portfolio figcaption>p{
    margin: 0;
    padding: 0 35px 0 35px;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF; 
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.3s linear; 
}
.portfolio>figure>img:nth-of-type(1):hover ~ figcaption{
    width: 488px;
    clip: rect(auto auto auto auto);
    z-index: 1001;
    left: 0;
    top: 0;
}
.portfolio>figure>img:nth-of-type(2):hover ~ figcaption{
    width: 692px;
    clip: rect(auto auto auto auto);
    z-index: 1001;
    left: 512px;
    top: 0;
}
.portfolio>figure>img:nth-of-type(3):hover ~ figcaption{
    width: 692px;
    clip: rect(auto auto auto auto);
    z-index: 1001;
    left: 0;
    top: 490px;
}
.portfolio>figure>img:nth-of-type(4):hover ~ figcaption{
    width: 488px;
    clip: rect(auto auto auto auto);
    z-index: 1001;
    left: 718px;
    top: 490px;
}
.portfolio>figure>img:hover{
    transform: scale(-1, 1);
    transition: transform .5s ease-in-out;
}

.portfolio>figure>img:hover ~ figcaption>p {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.1s;
}
.portfolio>figure>img:hover ~ figcaption>h3 {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.3s;
}

